body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.container{
    width: auto;
    margin-left: 15px;
    margin-right: 15px;
}

.container-login {
    width: 400px;
    margin: 0 auto;
}

.titulo {
    margin-bottom: 30px;
    text-transform: uppercase;
    text-align: center;
}

.invisivel {
    display: none;
}

.btn-pequeno {
    display: inline-block;
    padding: 4px 10px;
    margin-bottom: 0;
    font-size: 9px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.cabecalho-left {
    text-align: left;
}

.cabecalho-center {
    text-align: center;
}

.detalhe-left {
    text-align: left;
}

.detalhe-center {
    text-align: center;
}

.detalhe-right {
    text-align: right;
}